{
  "openapi": "3.1.0",
  "info": {
    "title": "sandbox",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://service-sandbox.tazapay.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v3/payin": {
      "post": {
        "summary": "Create a payin",
        "description": "Creates a payin object.",
        "operationId": "create-payin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invoice_currency",
                  "amount",
                  "success_url",
                  "cancel_url",
                  "transaction_description"
                ],
                "properties": {
                  "invoice_currency": {
                    "type": "string",
                    "description": "Invoice currency for the checkout session (in uppercase, iso-4217 standard). By default, the invoice currency is the holding currency for the transaction."
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount in cents. For example if you want to charge $10.12 pass 1012 as the value. For decimal handling for various currencies, refer to \u003Ca href=\"https://docs.tazapay.com/docs/decimal-currencies\" target=\"_blank\"\u003E the guide here\u003C/a\u003E",
                    "format": "int32"
                  },
                  "customer_details": {
                    "type": "object",
                    "description": "Details about the customer",
                    "required": [
                      "name",
                      "email",
                      "country"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the customer"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the entity"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc."
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      }
                    }
                  },
                  "customer": {
                    "type": "string",
                    "description": "ID of the customer for the checkout session"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "URL where the customer is directed to after a successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL the customer will be directed to if they decide to cancel payment and return to your website."
                  },
                  "transaction_description": {
                    "type": "string",
                    "description": "A short description to be displayed on the Tazapay hosted checkout screen"
                  },
                  "shipping_details": {
                    "type": "object",
                    "description": "Shipping Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "billing_details": {
                    "type": "object",
                    "description": "Billing Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "transaction_documents": {
                    "type": "string",
                    "description": "Supporting documents for the transaction",
                    "format": "json"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs that can be attached to the checkout session",
                    "format": "json"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Your unique identifier for the session"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Set to `true` to confirm this payin immediately. The parameter defaults to `false`. When creating and confirming a payin at the same time, you can also provide the parameters in the confirm API",
                    "default": false
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Configure the description of the payment on your customer's statements. It must contain at least one letter and be 1-22 characters long"
                  },
                  "payment_method_details": {
                    "type": "string",
                    "description": "Pass the data specific to a payment method to confirm a payin and create a payment attempt",
                    "format": "json"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Session ID retrieved from the \u003Ca href=\"https://docs.tazapay.com/reference/integrate-with-risk-sdk\"\u003E risk SDK\u003C/a\u003E"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "invoice_currency": "INR",
                    "amount": 100,
                    "customer_details": {
                      "name": "Andrea Lark",
                      "country": "SG",
                      "email": "andrea@example.com",
                      "phone": {
                        "calling_code": "65",
                        "number": "87654321"
                      }
                    },
                    "billing_details": {
                      "address": {
                        "city": "Singapore",
                        "country": "SG",
                        "line1": "1st Street",
                        "line2": "2nd Avenue",
                        "postal_code": "43004",
                        "state": "Singapore"
                      },
                      "label": "Home",
                      "name": "Andrea Lark",
                      "phone": {
                        "calling_code": "65",
                        "number": "87654321"
                      }
                    },
                    "shipping_details": {
                      "address": {
                        "city": "Singapore",
                        "country": "SG",
                        "line1": "1st Street",
                        "line2": "2nd Avenue",
                        "postal_code": "43004",
                        "state": "Singapore"
                      },
                      "label": "Home",
                      "name": "Andrea Lark",
                      "phone": {
                        "calling_code": "65",
                        "number": "87654321"
                      }
                    },
                    "success_url": "https://mystore.com/success_page",
                    "cancel_url": "https://mystore.com/try_again",
                    "webhook_url": "https://mystore.com/internal/webhook",
                    "payment_methods": [
                      "paynow_sgd",
                      "card"
                    ],
                    "transaction_description": "test",
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2",
                      "key3": "value3"
                    },
                    "reference_id": "string",
                    "confirm": false,
                    "statement_descriptor": "string",
                    "payment_method_details": {
                      "key": "value"
                    },
                    "session_id": "test_session_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"\",\n    \"data\": {\n        \"amount\": 100,\n        \"amount_paid\": 0,\n        \"billing_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"cancel_url\": \"https://mystore.com/try_again\",\n        \"cancelled_at\": null,\n        \"client_token\": \"ZRjM4ROfY6SPjTaQkz00OszWUcVvMA8KhStkPAoamPQ=\",\n        \"confirm\": false,\n        \"created_at\": \"2024-10-01T10:08:30.666381739Z\",\n        \"customer\": \"cus_crtqrhth90j0121gpt50\",\n        \"customer_details\": {\n            \"country\": \"SG\",\n            \"email\": \"andrea@example.com\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"holding_currency\": \"INR\",\n        \"id\": \"pay_crtsk7i6avg0t9ndc7l0\",\n        \"invoice_currency\": \"INR\",\n        \"items\": [],\n        \"latest_payment_attempt\": \"\",\n        \"latest_payment_attempt_data\": null,\n        \"metadata\": {\n            \"key1\": \"value1\",\n            \"key2\": \"value2\",\n            \"key3\": \"value3\"\n        },\n        \"object\": \"payin\",\n        \"paid_in_excess\": false,\n        \"partially_paid\": false,\n        \"payment_attempts\": [],\n        \"payment_method_details\": {\n            \"key\": \"value\"\n        },\n        \"reference_id\": \"string\",\n        \"shipping_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"statement_descriptor\": \"tzp*string\",\n        \"status\": \"requires_payment_method\",\n        \"status_description\": \"\",\n        \"success_url\": \"https://mystore.com/success_page\",\n        \"transaction_data\": [],\n        \"transaction_description\": \"test\",\n        \"transaction_documents\": [],\n        \"webhook_url\": \"https://mystore.com/internal/webhook\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "amount_paid": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {

                        },
                        "client_token": {
                          "type": "string",
                          "example": "ZRjM4ROfY6SPjTaQkz00OszWUcVvMA8KhStkPAoamPQ="
                        },
                        "confirm": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-10-01T10:08:30.666381739Z"
                        },
                        "customer": {
                          "type": "string",
                          "example": "cus_crtqrhth90j0121gpt50"
                        },
                        "customer_details": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "example": "andrea@example.com"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "holding_currency": {
                          "type": "string",
                          "example": "INR"
                        },
                        "id": {
                          "type": "string",
                          "example": "pay_crtsk7i6avg0t9ndc7l0"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "example": "INR"
                        },
                        "items": {
                          "type": "array"
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "example": ""
                        },
                        "latest_payment_attempt_data": {

                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "key1": {
                              "type": "string",
                              "example": "value1"
                            },
                            "key2": {
                              "type": "string",
                              "example": "value2"
                            },
                            "key3": {
                              "type": "string",
                              "example": "value3"
                            }
                          }
                        },
                        "object": {
                          "type": "string",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "payment_attempts": {
                          "type": "array"
                        },
                        "payment_method_details": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "example": "value"
                            }
                          }
                        },
                        "reference_id": {
                          "type": "string",
                          "example": "string"
                        },
                        "shipping_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "tzp*string"
                        },
                        "status": {
                          "type": "string",
                          "example": "requires_payment_method"
                        },
                        "status_description": {
                          "type": "string",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array"
                        },
                        "transaction_description": {
                          "type": "string",
                          "example": "test"
                        },
                        "transaction_documents": {
                          "type": "array"
                        },
                        "webhook_url": {
                          "type": "string",
                          "example": "https://mystore.com/internal/webhook"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/payin/{id}/confirm": {
      "post": {
        "summary": "Confirm a payin",
        "description": "Attach a payment method to the payin and create an attempt",
        "operationId": "confirm-payin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the already created payin",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_details",
                  "success_url",
                  "cancel_url",
                  "payment_method_details",
                  "session_id"
                ],
                "properties": {
                  "customer_details": {
                    "type": "object",
                    "description": "Details about the customer",
                    "required": [
                      "name",
                      "email",
                      "country"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the customer"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the entity"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc."
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      }
                    }
                  },
                  "customer": {
                    "type": "string",
                    "description": "ID of the customer for the checkout session"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "URL where the customer is directed to after a successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL the customer will be directed to if they decide to cancel payment and return to your website."
                  },
                  "shipping_details": {
                    "type": "object",
                    "description": "Shipping Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "billing_details": {
                    "type": "object",
                    "description": "Billing Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "transaction_documents": {
                    "type": "string",
                    "description": "Supporting documents for the transaction",
                    "format": "json"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs that can be attached to the checkout session",
                    "format": "json"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Your unique identifier for the session"
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Configure the description of the payment on your customer's statements. It must contain at least one letter and be 1-22 characters long"
                  },
                  "payment_method_details": {
                    "type": "string",
                    "description": "Pass the data specific to a payment method to confirm a payin and create a payment attempt",
                    "format": "json"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Session ID retrieved from the \u003Ca href=\"https://docs.tazapay.com/reference/integrate-with-risk-sdk\"\u003E risk SDK\u003C/a\u003E"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"\",\n    \"data\": {\n        \"amount\": 100,\n        \"amount_paid\": 0,\n        \"billing_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"cancel_url\": \"https://mystore.com/try_again\",\n        \"cancelled_at\": null,\n        \"client_token\": \"-wQsHcEK7VTybc1PCxG7R3sAef4o2H1cGBZMRaf4Rdg=\",\n        \"confirm\": true,\n        \"created_at\": \"2024-10-07T07:18:18.140550Z\",\n        \"customer\": \"cus_crtqrhth90j0121gpt50\",\n        \"customer_details\": {\n            \"country\": \"SG\",\n            \"email\": \"andrea@example.com\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"holding_currency\": \"SGD\",\n        \"id\": \"pay_cs1omea7a5ng2a3ng22g\",\n        \"invoice_currency\": \"SGD\",\n        \"items\": [],\n        \"latest_payment_attempt\": \"pat_cs1omrq7a5ng2a3ng290\",\n        \"latest_payment_attempt_data\": {\n            \"expires_at\": \"2024-10-07T07:21:11Z\",\n            \"qr_code\": \"YXNkMWZZVDM5UmdhVGF6YXBheWpza2d1MTNUUkZEMTIzNGFoc2dkakZHSDk5ODczSEdKSFNKS2Fzc3NpdWd1\"\n        },\n        \"metadata\": {\n            \"key1\": \"value1\",\n            \"key2\": \"value2\",\n            \"key3\": \"value3\"\n        },\n        \"object\": \"payin\",\n        \"paid_in_excess\": false,\n        \"partially_paid\": false,\n        \"payment_attempts\": [],\n        \"payment_method_details\": {\n            \"paynow_sgd\": {},\n            \"type\": \"paynow_sgd\"\n        },\n        \"redirect_url\": \"\",\n        \"reference_id\": \"string\",\n        \"shipping_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"statement_descriptor\": \"tzp*string\",\n        \"status\": \"requires_action\",\n        \"status_description\": \"\",\n        \"success_url\": \"https://mystore.com/success_page\",\n        \"transaction_data\": [],\n        \"transaction_description\": \"test\",\n        \"transaction_documents\": [],\n        \"webhook_url\": \"https://mystore.com/internal/webhook\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "amount_paid": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {

                        },
                        "client_token": {
                          "type": "string",
                          "example": "-wQsHcEK7VTybc1PCxG7R3sAef4o2H1cGBZMRaf4Rdg="
                        },
                        "confirm": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-10-07T07:18:18.140550Z"
                        },
                        "customer": {
                          "type": "string",
                          "example": "cus_crtqrhth90j0121gpt50"
                        },
                        "customer_details": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "example": "andrea@example.com"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "holding_currency": {
                          "type": "string",
                          "example": "SGD"
                        },
                        "id": {
                          "type": "string",
                          "example": "pay_cs1omea7a5ng2a3ng22g"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "example": "SGD"
                        },
                        "items": {
                          "type": "array"
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "example": "pat_cs1omrq7a5ng2a3ng290"
                        },
                        "latest_payment_attempt_data": {
                          "type": "object",
                          "properties": {
                            "expires_at": {
                              "type": "string",
                              "example": "2024-10-07T07:21:11Z"
                            },
                            "qr_code": {
                              "type": "string",
                              "example": "YXNkMWZZVDM5UmdhVGF6YXBheWpza2d1MTNUUkZEMTIzNGFoc2dkakZHSDk5ODczSEdKSFNKS2Fzc3NpdWd1"
                            }
                          }
                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "key1": {
                              "type": "string",
                              "example": "value1"
                            },
                            "key2": {
                              "type": "string",
                              "example": "value2"
                            },
                            "key3": {
                              "type": "string",
                              "example": "value3"
                            }
                          }
                        },
                        "object": {
                          "type": "string",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "payment_attempts": {
                          "type": "array"
                        },
                        "payment_method_details": {
                          "type": "object",
                          "properties": {
                            "paynow_sgd": {
                              "type": "object",
                              "properties": {

                              }
                            },
                            "type": {
                              "type": "string",
                              "example": "paynow_sgd"
                            }
                          }
                        },
                        "redirect_url": {
                          "type": "string",
                          "example": ""
                        },
                        "reference_id": {
                          "type": "string",
                          "example": "string"
                        },
                        "shipping_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "tzp*string"
                        },
                        "status": {
                          "type": "string",
                          "example": "requires_action"
                        },
                        "status_description": {
                          "type": "string",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array"
                        },
                        "transaction_description": {
                          "type": "string",
                          "example": "test"
                        },
                        "transaction_documents": {
                          "type": "array"
                        },
                        "webhook_url": {
                          "type": "string",
                          "example": "https://mystore.com/internal/webhook"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/payin/{id}": {
      "put": {
        "summary": "Updating a payin",
        "description": "Update a payin without confirming",
        "operationId": "update-a-payin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the already created payin",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "success_url",
                  "cancel_url",
                  "payment_method_details"
                ],
                "properties": {
                  "customer_details": {
                    "type": "object",
                    "description": "Details about the customer",
                    "required": [
                      "name",
                      "email",
                      "country"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the customer"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address of the entity"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166 standard alpha-2 code. eg: SG, IN, US, etc."
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      }
                    }
                  },
                  "customer": {
                    "type": "string",
                    "description": "ID of the customer for the checkout session"
                  },
                  "success_url": {
                    "type": "string",
                    "description": "URL where the customer is directed to after a successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL the customer will be directed to if they decide to cancel payment and return to your website."
                  },
                  "shipping_details": {
                    "type": "object",
                    "description": "Shipping Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "billing_details": {
                    "type": "object",
                    "description": "Billing Details - Address, Recipient Name",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "label": {
                        "type": "string",
                        "description": "Denotes the type of address (Example - home, work)"
                      }
                    }
                  },
                  "transaction_documents": {
                    "type": "string",
                    "description": "Supporting documents for the transaction",
                    "format": "json"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs that can be attached to the checkout session",
                    "format": "json"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Your unique identifier for the session"
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Configure the description of the payment on your customer's statements. It must contain at least one letter and be 1-22 characters long"
                  },
                  "payment_method_details": {
                    "type": "string",
                    "description": "Pass the data specific to a payment method to confirm a payin and create a payment attempt",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "metadata": {
                      "key1": "value1"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"\",\n    \"data\": {\n        \"amount\": 100,\n        \"amount_paid\": 0,\n        \"billing_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"cancel_url\": \"https://mystore.com/try_again\",\n        \"cancelled_at\": null,\n        \"client_token\": \"1iJeF0TG3I3wwL8Bcstn6Dcze9AXn2aUgNKoBr_D8hY=\",\n        \"confirm\": false,\n        \"created_at\": \"2024-10-09T06:58:31.354184Z\",\n        \"customer\": \"cus_crtqrhth90j0121gpt50\",\n        \"customer_details\": {\n            \"country\": \"SG\",\n            \"email\": \"andrea@example.com\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"holding_currency\": \"SGD\",\n        \"id\": \"pay_cs32j5j4p26bm5o9k58g\",\n        \"invoice_currency\": \"SGD\",\n        \"items\": [],\n        \"latest_payment_attempt\": \"\",\n        \"latest_payment_attempt_data\": null,\n        \"metadata\": {\n            \"key1\": \"value1\"\n        },\n        \"object\": \"payin\",\n        \"paid_in_excess\": false,\n        \"partially_paid\": false,\n        \"payment_attempts\": [],\n        \"payment_method_details\": {\n            \"paynow_sgd\": {},\n            \"type\": \"paynow_sgd\"\n        },\n        \"reference_id\": \"string\",\n        \"shipping_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"statement_descriptor\": \"tzp*string\",\n        \"status\": \"requires_payment_method\",\n        \"status_description\": \"\",\n        \"success_url\": \"https://mystore.com/success_page\",\n        \"transaction_data\": [],\n        \"transaction_description\": \"test\",\n        \"transaction_documents\": [],\n        \"webhook_url\": \"https://mystore.com/internal/webhook\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "amount_paid": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {

                        },
                        "client_token": {
                          "type": "string",
                          "example": "1iJeF0TG3I3wwL8Bcstn6Dcze9AXn2aUgNKoBr_D8hY="
                        },
                        "confirm": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-10-09T06:58:31.354184Z"
                        },
                        "customer": {
                          "type": "string",
                          "example": "cus_crtqrhth90j0121gpt50"
                        },
                        "customer_details": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "example": "andrea@example.com"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "holding_currency": {
                          "type": "string",
                          "example": "SGD"
                        },
                        "id": {
                          "type": "string",
                          "example": "pay_cs32j5j4p26bm5o9k58g"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "example": "SGD"
                        },
                        "items": {
                          "type": "array"
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "example": ""
                        },
                        "latest_payment_attempt_data": {

                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "key1": {
                              "type": "string",
                              "example": "value1"
                            }
                          }
                        },
                        "object": {
                          "type": "string",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "payment_attempts": {
                          "type": "array"
                        },
                        "payment_method_details": {
                          "type": "object",
                          "properties": {
                            "paynow_sgd": {
                              "type": "object",
                              "properties": {

                              }
                            },
                            "type": {
                              "type": "string",
                              "example": "paynow_sgd"
                            }
                          }
                        },
                        "reference_id": {
                          "type": "string",
                          "example": "string"
                        },
                        "shipping_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "tzp*string"
                        },
                        "status": {
                          "type": "string",
                          "example": "requires_payment_method"
                        },
                        "status_description": {
                          "type": "string",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array"
                        },
                        "transaction_description": {
                          "type": "string",
                          "example": "test"
                        },
                        "transaction_documents": {
                          "type": "array"
                        },
                        "webhook_url": {
                          "type": "string",
                          "example": "https://mystore.com/internal/webhook"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Fetching a payin",
        "description": "",
        "operationId": "fetching-a-payin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the already created payin",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"\",\n    \"data\": {\n        \"amount\": 100,\n        \"amount_paid\": 0,\n        \"billing_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"cancel_url\": \"https://mystore.com/try_again\",\n        \"cancelled_at\": null,\n        \"client_token\": \"JsU19R_Li9cwVksJGUfAajZ3r2A9ArU7Qk3j5r0cpVg=\",\n        \"confirm\": false,\n        \"created_at\": \"2024-10-07T07:10:21.894488Z\",\n        \"customer\": \"cus_crtqrhth90j0121gpt50\",\n        \"customer_details\": {\n            \"country\": \"SG\",\n            \"email\": \"andrea@example.com\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"holding_currency\": \"INR\",\n        \"id\": \"pay_cs1oina7a5ng2a3ng12g\",\n        \"invoice_currency\": \"INR\",\n        \"items\": [],\n        \"latest_payment_attempt\": \"\",\n        \"latest_payment_attempt_data\": null,\n        \"metadata\": {\n            \"key1\": \"value1\",\n            \"key2\": \"value2\",\n            \"key3\": \"value3\"\n        },\n        \"object\": \"payin\",\n        \"paid_in_excess\": false,\n        \"partially_paid\": false,\n        \"payment_attempts\": [],\n        \"payment_method_details\": {\n            \"paynow_sgd\": {},\n            \"type\": \"paynow_sgd\"\n        },\n        \"reference_id\": \"string\",\n        \"shipping_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"statement_descriptor\": \"tzp*string\",\n        \"status\": \"requires_payment_method\",\n        \"status_description\": \"\",\n        \"success_url\": \"https://mystore.com/success_page\",\n        \"transaction_data\": [],\n        \"transaction_description\": \"test\",\n        \"transaction_documents\": [],\n        \"webhook_url\": \"https://mystore.com/internal/webhook\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "amount_paid": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "cancel_url": {
                          "type": "string",
                          "example": "https://mystore.com/try_again"
                        },
                        "cancelled_at": {

                        },
                        "client_token": {
                          "type": "string",
                          "example": "JsU19R_Li9cwVksJGUfAajZ3r2A9ArU7Qk3j5r0cpVg="
                        },
                        "confirm": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-10-07T07:10:21.894488Z"
                        },
                        "customer": {
                          "type": "string",
                          "example": "cus_crtqrhth90j0121gpt50"
                        },
                        "customer_details": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "example": "SG"
                            },
                            "email": {
                              "type": "string",
                              "example": "andrea@example.com"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "holding_currency": {
                          "type": "string",
                          "example": "INR"
                        },
                        "id": {
                          "type": "string",
                          "example": "pay_cs1oina7a5ng2a3ng12g"
                        },
                        "invoice_currency": {
                          "type": "string",
                          "example": "INR"
                        },
                        "items": {
                          "type": "array"
                        },
                        "latest_payment_attempt": {
                          "type": "string",
                          "example": ""
                        },
                        "latest_payment_attempt_data": {

                        },
                        "metadata": {
                          "type": "object",
                          "properties": {
                            "key1": {
                              "type": "string",
                              "example": "value1"
                            },
                            "key2": {
                              "type": "string",
                              "example": "value2"
                            },
                            "key3": {
                              "type": "string",
                              "example": "value3"
                            }
                          }
                        },
                        "object": {
                          "type": "string",
                          "example": "payin"
                        },
                        "paid_in_excess": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "partially_paid": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "payment_attempts": {
                          "type": "array"
                        },
                        "payment_method_details": {
                          "type": "object",
                          "properties": {
                            "paynow_sgd": {
                              "type": "object",
                              "properties": {

                              }
                            },
                            "type": {
                              "type": "string",
                              "example": "paynow_sgd"
                            }
                          }
                        },
                        "reference_id": {
                          "type": "string",
                          "example": "string"
                        },
                        "shipping_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
                                  "type": "string",
                                  "example": "1st Street"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "2nd Avenue"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "43004"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Singapore"
                                }
                              }
                            },
                            "label": {
                              "type": "string",
                              "example": "Home"
                            },
                            "name": {
                              "type": "string",
                              "example": "Andrea Lark"
                            },
                            "phone": {
                              "type": "object",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "65"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "87654321"
                                }
                              }
                            }
                          }
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "tzp*string"
                        },
                        "status": {
                          "type": "string",
                          "example": "requires_payment_method"
                        },
                        "status_description": {
                          "type": "string",
                          "example": ""
                        },
                        "success_url": {
                          "type": "string",
                          "example": "https://mystore.com/success_page"
                        },
                        "transaction_data": {
                          "type": "array"
                        },
                        "transaction_description": {
                          "type": "string",
                          "example": "test"
                        },
                        "transaction_documents": {
                          "type": "array"
                        },
                        "webhook_url": {
                          "type": "string",
                          "example": "https://mystore.com/internal/webhook"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/payin/{id}/cancel": {
      "post": {
        "summary": "Cancelling a payin",
        "description": "",
        "operationId": "cancelling-a-payin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the already created payin",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"\",\n    \"data\": {\n        \"amount\": 100,\n        \"amount_paid\": 0,\n        \"billing_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"cancel_url\": \"https://mystore.com/try_again\",\n        \"cancelled_at\": \"2024-10-07T07:25:36.425619061Z\",\n        \"client_token\": \"JsU19R_Li9cwVksJGUfAajZ3r2A9ArU7Qk3j5r0cpVg=\",\n        \"confirm\": false,\n        \"created_at\": \"2024-10-07T07:10:21.894488Z\",\n        \"customer\": \"cus_crtqrhth90j0121gpt50\",\n        \"customer_details\": {\n            \"country\": \"SG\",\n            \"email\": \"andrea@example.com\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"holding_currency\": \"INR\",\n        \"id\": \"pay_cs1oina7a5ng2a3ng12g\",\n        \"invoice_currency\": \"INR\",\n        \"items\": [],\n        \"latest_payment_attempt\": \"\",\n        \"latest_payment_attempt_data\": null,\n        \"metadata\": {\n            \"key1\": \"value1\",\n            \"key2\": \"value2\",\n            \"key3\": \"value3\"\n        },\n        \"object\": \"payin\",\n        \"paid_in_excess\": false,\n        \"partially_paid\": false,\n        \"payment_attempts\": [],\n         \"payment_method_details\": {\n            \"paynow_sgd\": {},\n            \"type\": \"paynow_sgd\"\n        },\n        \"reference_id\": \"string\",\n        \"shipping_details\": {\n            \"address\": {\n                \"city\": \"Singapore\",\n                \"country\": \"SG\",\n                \"line1\": \"1st Street\",\n                \"line2\": \"2nd Avenue\",\n                \"postal_code\": \"43004\",\n                \"state\": \"Singapore\"\n            },\n            \"label\": \"Home\",\n            \"name\": \"Andrea Lark\",\n            \"phone\": {\n                \"calling_code\": \"65\",\n                \"number\": \"87654321\"\n            }\n        },\n        \"statement_descriptor\": \"tzp*string\",\n        \"status\": \"cancelled\",\n        \"status_description\": \"\",\n        \"success_url\": \"https://mystore.com/success_page\",\n        \"transaction_data\": [],\n        \"transaction_description\": \"test\",\n        \"transaction_documents\": [],\n        \"webhook_url\": \"https://mystore.com/internal/webhook\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": ""
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "amount_paid": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "billing_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "example": "Singapore"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "SG"
                                },
                                "line1": {
[...]
