{
  "openapi": "3.1.0",
  "info": {
    "title": "Tazapay API",
    "version": "3",
    "description": "Filtered Tazapay API endpoints for documentation"
  },
  "servers": [
    {
      "url": "https://service-sandbox.tazapay.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v3/payout": {
      "post": {
        "summary": "Create Payout",
        "description": "This lets you initiate a payout.",
        "operationId": "create-payout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "purpose",
                  "transaction_description"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "Amount in cents. For example if you want to payout $10.12 pass 1012 as the value. For decimal handling for various currencies, refer to <a href=\"https://docs.tazapay.com/docs/decimal-currencies\" target=\"_blank\"> the guide here</a>",
                    "format": "int32",
                    "default": ""
                  },
                  "currency": {
                    "type": "string",
                    "description": "ISO 4217 standard. This is the payout currency. The amount will be in the payout currency"
                  },
                  "beneficiary_details": {
                    "type": "object",
                    "description": "Beneficiary Details",
                    "required": [
                      "name",
                      "type"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Beneficiary Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Beneficiary email address"
                      },
                      "type": {
                        "type": "string",
                        "description": "business or individual"
                      },
                      "address": {
                        "type": "object",
                        "description": "Beneficiary Address (Mandatory if destination_details.type is a wallet)",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "Address Line 1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "Address Line 2"
                          },
                          "city": {
                            "type": "string",
                            "description": "Address city"
                          },
                          "state": {
                            "type": "string",
                            "description": "Address state"
                          },
                          "country": {
                            "type": "string",
                            "description": "Address country (Country (ISO 3166-1 alpha_2 country code)"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "Postal Code"
                          }
                        }
                      },
                      "phone": {
                        "type": "object",
                        "description": "Beneficiary Phone",
                        "properties": {
                          "calling_code": {
                            "type": "string",
                            "description": "Calling country code (for example, '1' for United States, '91' for India)"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone Number"
                          }
                        }
                      },
                      "destination_details": {
                        "type": "object",
                        "description": "Beneficiary destination details",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "bank, wallet, local_payment_network, tazapay_account",
                            "enum": [
                              "bank",
                              "wallet",
                              "local_payment_network",
                              "tazapay_account"
                            ]
                          },
                          "bank": {
                            "type": "object",
                            "description": "Bank details if the destination_details.type is a bank account",
                            "required": [
                              "bank_name",
                              "country",
                              "currency"
                            ],
                            "properties": {
                              "account_number": {
                                "type": "string",
                                "description": "Bank Account Number. Either account_number or IBAN is mandatory"
                              },
                              "iban": {
                                "type": "string",
                                "description": "IBAN. Either account_number or iban is mandatory"
                              },
                              "bank_name": {
                                "type": "string",
                                "description": "Name of the bank"
                              },
                              "branch_name": {
                                "type": "string",
                                "description": "Name of the branch"
                              },
                              "country": {
                                "type": "string",
                                "description": "Two-letter country code (ISO 3166-1 alpha-2)"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Three-letter ISO currency code, in uppercase"
                              },
                              "purpose_code": {
                                "type": "string",
                                "description": "Purpose Code for INR bank accounts"
                              },
                              "bank_codes": {
                                "type": "object",
                                "description": "Bank Specific Codes",
                                "properties": {
                                  "swift_code": {
                                    "type": "string",
                                    "description": "SWIFT Code"
                                  },
                                  "bic_code": {
                                    "type": "string",
                                    "description": "Bank Identifier Code (BIC)"
                                  },
                                  "ifsc_code": {
                                    "type": "string",
                                    "description": "IFS Code"
                                  },
                                  "aba_code": {
                                    "type": "string",
                                    "description": "ABA / Routing Number"
                                  },
                                  "sort_code": {
                                    "type": "string",
                                    "description": "SORT Code"
                                  },
                                  "branch_code": {
                                    "type": "string",
                                    "description": "Branch Code"
                                  },
                                  "bsb_code": {
                                    "type": "string",
                                    "description": "BSB Code"
                                  },
                                  "bank_code": {
                                    "type": "string",
                                    "description": "Bank Code"
                                  },
                                  "cnaps": {
                                    "type": "string",
                                    "description": "CNAPS"
                                  }
                                }
                              },
                              "firc_required": {
                                "type": "boolean",
                                "description": "Pass `true` if you want FIRC for a payout to India. By default, it is set to `false`"
                              },
                              "account_type": {
                                "type": "string",
                                "description": "Type of bank account",
                                "enum": [
                                  "savings",
                                  "checking",
                                  "payment"
                                ]
                              }
                            }
                          },
                          "wallet": {
                            "type": "object",
                            "description": "Wallet details if the destination_details.type is a wallet",
                            "required": [
                              "deposit_address",
                              "type",
                              "currency"
                            ],
                            "properties": {
                              "deposit_address": {
                                "type": "string",
                                "description": "Address of the wallet"
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of the wallet"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency of the wallet"
                              },
                              "hosted": {
                                "type": "string",
                                "description": "Indicates whether the wallet is custodial (hosted) or non-custodial (unhosted). Possible values: yes \u2013 The wallet is hosted by a Virtual Asset Service Provider (VASP) or exchange. no \u2013 The wallet is non-custodial and controlled directly by the user (e.g., MetaMask, Ledger) Mandatory if party_classification is 'self' and destination_details.type is 'wallet'"
                              },
                              "vasp_name": {
                                "type": "string",
                                "description": "The registered name of the Virtual Asset Service Provider (VASP) or exchange that hosts or manages the wallet Mandatory if party_classification is 'self', destination_details.type is 'wallet' and hosted is 'yes'"
                              },
                              "vasp_website": {
                                "type": "string",
                                "description": "The official website URL of the VASP or exchange that manages the wallet. Used for VASP identification and due diligence under Travel Rule requirements Mandatory if party_classification is 'self', destination_details.type is 'wallet' and hosted is 'yes'"
                              }
                            }
                          },
                          "local_payment_network": {
                            "type": "object",
                            "description": "Destination details if the destination_details.type is local_payment_network",
                            "required": [
                              "type",
                              "deposit_key"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Type of the local_payment_network (example - pix_brl, upi_inr, promptpay_thb)"
                              },
                              "deposit_key_type": {
                                "type": "string",
                                "description": "Type of the deposit key. Conditionally Mandatory depending on the value of type"
                              },
                              "deposit_key": {
                                "type": "string",
                                "description": "Deposit key corresponding to the type of local payment network (Example, PIX key for PIX, UPI handle for UPI, etc.)"
                              }
                            }
                          },
                          "tazapay_account": {
                            "type": "object",
                            "description": "Destination details if the destination.type is tazapay_account",
                            "required": [
                              "deposit_adress"
                            ],
                            "properties": {
                              "deposit_address": {
                                "type": "string",
                                "description": "Deposit Address corresponding to a Tazapay account"
                              }
                            }
                          }
                        }
                      },
                      "tax_id": {
                        "type": "string",
                        "description": "Tax ID of the beneficiary. (CPF or CPNJ number is mandatory for payouts to Brazil)"
                      },
                      "national_identification_number": {
                        "type": "string",
                        "description": "National ID of the individual"
                      },
                      "registration_number": {
                        "type": "string",
                        "description": "Registration number of the business (Mandatory if destination_details.type is a wallet and type is business)"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "Date of birth of individual, Format DD-MM-YYYY (Mandatory if destination_details.type is a wallet and type is individual)"
                      },
                      "nationality": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code representing the beneficiary's nationality (e.g., US, GB, IN, FR). Optional field used for enhanced compliance screening."
                      },
                      "party_classification": {
                        "type": "string",
                        "description": "Type of relationship between beneficiary and creator of beneficiary Possible values - self, third_party (Mandatory if destination_details.type is a wallet)"
                      },
                      "name_local": {
                        "type": "string",
                        "description": "Name in local language"
                      }
                    }
                  },
                  "beneficiary": {
                    "type": "string",
                    "description": "ID of an existing payout beneficiary"
                  },
                  "holding_currency": {
                    "type": "string",
                    "description": "ISO 4217 standard, in uppercase. This is one of your balance currencies whose balance will fund the payout."
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Set of key-value pairs to attach to the payout object",
                    "format": "json"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of payout - local, swift, wallet, tazapay_account, local_payment_network",
                    "enum": [
                      "local",
                      "swift",
                      "wallet",
                      "local_payment_network",
                      "tazapay_account"
                    ]
                  },
                  "charge_type": {
                    "type": "string",
                    "description": "For wire transfers only",
                    "enum": [
                      "shared",
                      "ours"
                    ]
                  },
                  "purpose": {
                    "type": "string",
                    "description": "Reason for payout. Click <a href=\"https://docs.tazapay.com/docs/reasons-for-payout\">here</a> for the detailed list.",
                    "enum": [
                      "PYR001",
                      "PYR002",
                      "PYR003",
                      "PYR004",
                      "PYR005",
                      "PYR006",
                      "PYR007",
                      "PYR008",
                      "PYR009",
                      "PYR010",
                      "PYR011",
                      "PYR012",
                      "PYR013",
                      "PYR014",
                      "PYR015",
                      "PYR016",
                      "PYR017",
                      "PYR018",
                      "PYR019",
                      "PYR020",
                      "PYR021",
                      "PYR022",
                      "PYR023",
                      "PYR024",
                      "PYR025",
                      "PYR026",
                      "PYR027",
                      "PYR028",
                      "PYR029",
                      "PYR030",
                      "PYR031",
                      "PYR032",
                      "PYR033",
                      "PYR034"
                    ]
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Statement Descriptor for the payout"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "Reference ID of the payout on your system"
                  },
                  "transaction_description": {
                    "type": "string",
                    "description": "Additional Details for the payout"
                  },
                  "documents": {
                    "type": "array",
                    "description": "Attach documents to the payout",
                    "items": {
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "A string mentioning the type of document. Possible values - invoice, other",
                          "enum": [
                            "invoice",
                            "contract",
                            "other"
                          ]
                        },
                        "url": {
                          "type": "string",
                          "description": "Dynamically downloadable URL"
                        }
                      },
                      "required": [
                        "type",
                        "url"
                      ],
                      "type": "object"
                    }
                  },
                  "on_behalf_of": {
                    "type": "string",
                    "description": "ID of the entity the payout is created on behalf of"
                  },
                  "logistics_tracking_details": {
                    "type": "array",
                    "description": "Logistics tracking details of the order",
                    "items": {
                      "properties": {
                        "logistics_provider": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            }
                          }
                        },
                        "tracking_number": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "destination_fx_quote": {
                    "type": "string",
                    "description": "ID of the quote to use locked exchange for conversion from payout to destination currency"
                  },
                  "quote": {
                    "type": "string",
                    "description": "Quote ID from the payout quote API"
                  },
                  "local": {
                    "type": "object",
                    "description": "Local payout configuration object",
                    "properties": {
                      "fund_transfer_network": {
                        "type": "string",
                        "description": "The local fund transfer network to use for local payouts (e.g., 'chats', 'fps', 'sepa', 'rtgs', 'ach', 'pix'). Fetch the entire list of available fund transfer networks from the <a href=\"https://docs.tazapay.com/reference/payout-bank\">Payout Bank Metadata API</a>."
                      }
                    }
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "beneficiary": "bnf_d3inm6ami8u10oqfh",
                    "beneficiary_details": null,
                    "amount": 50000,
                    "currency": "HKD",
                    "holding_currency": "USD",
                    "type": "local",
                    "charge_type": "shared",
                    "purpose": "PYR003",
                    "reference_id": "HK-PAY-2024-156",
                    "transaction_description": "Supplier payment for electronics order",
                    "statement_descriptor": "Supplier Payment",
                    "documents": [],
                    "local": {
                      "fund_transfer_network": "chats"
                    },
                    "quote": "poq_d3inm6ami8u10oqfk",
                    "destination_fx_quote": "fx_d3inm6ami8u10oqfl",
                    "logistics_tracking_details": [
                      {
                        "tracking_number": "1Z999AA10123456784",
                        "logistics_provider": {
                          "name": "UPS",
                          "code": "UPS"
                        }
                      }
                    ],
                    "on_behalf_of": "ent_d3inm6ami8u10oqfm"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 100000,
                        "balance_transaction": "btr_crv5u81h1l071n2fk1o0",
                        "beneficiary": "bnf_crv5r71h1l071n2fjvog",
                        "beneficiary_details": {
                          "address": {
                            "city": "test",
                            "country": "US",
                            "line1": "test",
                            "line2": "test",
                            "postal_code": "10038",
                            "state": "test"
                          },
                          "destination": "bnk_crv5r71gb6vrb4oj77kg",
                          "destination_details": {
                            "bank": {
                              "account_number": "test",
                              "account_type": "",
                              "bank_codes": {
                                "aba_code": "test",
                                "swift_code": "test"
                              },
                              "bank_name": "city bank",
                              "branch_name": "",
                              "country": "US",
                              "currency": "USD",
                              "firc_required": false,
                              "purpose_code": ""
                            },
                            "type": "bank"
                          },
                          "documents": [],
                          "email": "test@example.com",
                          "name": "test",
                          "phone": {
                            "calling_code": "1",
                            "number": "12312312345"
                          },
                          "tax_id": "test",
                          "type": "individual"
                        },
                        "charge_type": "ours",
                        "created_at": "2024-10-03T09:08:48.467222Z",
                        "currency": "USD",
                        "documents": [],
                        "holding_currency": "EUR",
                        "holding_fx_transaction": {
                          "exchange_rate": 1.059191,
                          "final": {
                            "amount": 100000,
                            "currency": "USD"
                          },
                          "id": "fx_crv5u80dj96g452dfr2g",
                          "initial": {
                            "amount": 94412,
                            "currency": "EUR"
                          },
                          "object": "fx_transaction"
                        },
                        "id": "pot_crv5u81h1l071n2fk1ng",
                        "local": {
                          "fund_transfer_network": "ach"
                        },
                        "logistics_tracking_details": [],
                        "metadata": null,
                        "mt103": "",
                        "object": "payout",
                        "payout_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 100000,
                            "currency": "USD"
                          },
                          "id": "fx_crv5u80dj96g452dfr20",
                          "initial": {
                            "amount": 100000,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "purpose": "PYR001",
                        "quote": "poq_crv5u81h1l071n2fk1n0",
                        "confirmation_documents": [],
                        "destination_fx_quote": "fx_d4hu4786bhdq534ritlg",
                        "reference_id": "INV-2024-0912",
                        "statement_descriptor": "tzp*Consulting Fee",
                        "status": "processing",
                        "status_description": "",
                        "tracking_details": null,
                        "transaction_description": "Payment for consulting services",
                        "type": "swift",
                        "on_behalf_of": "",
                        "logistic_tracking_details": []
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "description": "Amount of the payout"
                    },
                    "balance_transaction": {
                      "type": "string",
                      "description": "Id of the balance transaction object linked to this payout"
                    },
                    "beneficiary": {
                      "type": "string",
                      "description": "Unique identifier of the beneficiary"
                    },
                    "beneficiary_details": {
                      "type": "object",
                      "description": "Details of the payout beneficiary",
                      "properties": {
                        "address": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "type": "string",
                              "description": "City of the beneficiary"
                            },
                            "country": {
                              "type": "string",
                              "description": "Country of the beneficiary"
                            },
                            "line1": {
                              "type": "string",
                              "description": "Address line 1"
                            },
                            "line2": {
                              "type": "string",
                              "description": "Address line 2"
                            },
                            "postal_code": {
                              "type": "string",
                              "description": "Postal code"
                            },
                            "state": {
                              "type": "string",
                              "description": "State or province"
                            }
                          }
                        },
                        "destination": {
                          "type": "string",
                          "description": "Destination account or bank id"
                        },
                        "destination_details": {
                          "type": "object",
                          "properties": {
                            "bank": {
                              "type": "object",
                              "properties": {
                                "account_number": {
                                  "type": "string",
                                  "description": "Bank account number"
                                },
                                "account_type": {
                                  "type": "string",
                                  "description": "Type of bank account"
                                },
                                "bank_codes": {
                                  "type": "object",
                                  "properties": {
                                    "aba_code": {
                                      "type": "string",
                                      "description": "ABA routing code"
                                    },
                                    "swift_code": {
                                      "type": "string",
                                      "description": "SWIFT/BIC code"
                                    }
                                  }
                                },
                                "bank_name": {
                                  "type": "string",
                                  "description": "Name of the bank"
                                },
                                "branch_name": {
                                  "type": "string",
                                  "description": "Branch name of the bank"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "Bank country"
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "Currency of the bank account"
                                },
                                "firc_required": {
                                  "type": "boolean",
                                  "description": "Whether FIRC document is required"
                                },
                                "purpose_code": {
                                  "type": "string",
                                  "description": "Purpose code for the transaction"
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "description": "Destination type (e.g. bank)"
                            }
                          }
                        },
                        "documents": {
                          "type": "array",
                          "items": {},
                          "description": "List of beneficiary documents"
                        },
                        "email": {
                          "type": "string",
                          "description": "Beneficiary email address"
                        },
                        "name": {
                          "type": "string",
                          "description": "Beneficiary name"
                        },
                        "phone": {
                          "type": "object",
                          "properties": {
                            "calling_code": {
                              "type": "string",
                              "description": "Country calling code"
                            },
                            "number": {
                              "type": "string",
                              "description": "Phone number"
                            }
                          }
                        },
                        "tax_id": {
                          "type": "string",
                          "description": "Tax ID of the beneficiary"
                        },
                        "type": {
                          "type": "string",
                          "description": "Beneficiary type (individual/business)"
                        }
                      }
                    },
                    "charge_type": {
                      "type": "string",
                      "description": "Charge type for payout (e.g. ours/beneficiary)"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Payout creation timestamp (ISO 8601 format)"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of the payout"
                    },
                    "documents": {
                      "type": "array",
                      "items": {},
                      "description": "Associated documents"
                    },
                    "holding_currency": {
                      "type": "string",
                      "description": "Currency used for holding the funds before payout"
                    },
                    "holding_fx_transaction": {
                      "type": "object",
                      "description": "FX transaction details for holding currency",
                      "properties": {
                        "exchange_rate": {
                          "type": "number",
                          "description": "FX exchange rate used"
                        },
                        "final": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Final amount after FX"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Final currency"
                            }
                          }
                        },
                        "id": {
                          "type": "string",
                          "description": "FX transaction ID"
                        },
                        "initial": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Initial amount before FX"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Initial currency"
                            }
                          }
                        },
                        "object": {
                          "type": "string",
                          "description": "Object type (fx_transaction)"
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique payout ID"
                    },
                    "metadata": {
                      "type": "null",
                      "description": "Metadata associated with payout"
                    },
                    "mt103": {
                      "type": "string",
                      "description": "SWIFT MT103 reference number"
                    },
                    "object": {
                      "type": "string",
                      "description": "Type of object (payout)"
                    },
                    "payout_fx_transaction": {
                      "type": "object",
                      "description": "FX transaction details for payout currency",
                      "properties": {
                        "exchange_rate": {
                          "type": "number",
                          "description": "Exchange rate for payout FX"
                        },
                        "final": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Final amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Final currency"
                            }
                          }
                        },
                        "id": {
                          "type": "string",
                          "description": "FX transaction ID"
                        },
                        "initial": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Initial amount"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Initial currency"
                            }
                          }
                        },
                        "object": {
                          "type": "string",
                          "description": "Object type (fx_transaction)"
                        }
                      }
                    },
                    "purpose": {
                      "type": "string",
                      "description": "Purpose code or note for payout"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "External reference ID for payout"
                    },
                    "statement_descriptor": {
                      "type": "string",
                      "description": "Statement descriptor for transaction"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current payout status"
                    },
                    "status_description": {
                      "type": "string",
                      "description": "Description of payout status"
                    },
                    "tracking_details": {
                      "type": "null",
                      "description": "Tracking information if applicable"
                    },
                    "transaction_description": {
                      "type": "string",
                      "description": "Description of the transaction"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of payout (e.g. swift, ach)"
                    },
                    "on_behalf_of": {
                      "type": "string",
                      "description": "Entity on whose behalf payout is made"
                    },
                    "quote": {
                      "type": "string",
                      "default": "",
                      "description": "Quote ID from the payout quote API"
                    },
                    "destination_fx_quote": {
                      "type": "string",
                      "description": "ID of the quote to use locked exchange for conversion from payout to destination currency"
                    },
                    "confirmation_documents": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "json"
                      }
                    },
                    "logistics_tracking_details": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "logistics_provider": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              }
                            }
                          },
                          "tracking_number": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "description": "Logistics tracking details of the order"
                    },
                    "available_balance": {
                      "type": "integer",
                      "description": "Available balance in the account for processing payouts"
                    },
                    "is_balance_sufficient": {
                      "type": "boolean",
                      "description": "Indicates whether the account has sufficient balance to process this payout"
                    },
                    "local": {
                      "type": "object",
                      "description": "Local payout configuration object",
                      "properties": {
                        "fund_transfer_network": {
                          "type": "string",
                          "description": "The local fund transfer network to use for local payouts (e.g., 'chats', 'fps', 'sepa', 'rtgs', 'ach', 'pix'). Fetch the entire list of available fund transfer networks from the <a href=\"https://docs.tazapay.com/reference/payout-bank\">Payout Bank Metadata API</a>."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "samples-languages": [
            "shell"
          ]
        }
      }
    },
    "/v3/payout/{id}": {
      "get": {
        "summary": "Fetch payout",
        "description": "This lets you fetch the details of an existing payout",
        "operationId": "fetch-payout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the existing payout",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Transfer with Tazapay": {
                    "summary": "Transfer with Tazapay",
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 44000,
                        "balance_transaction": "btr_d35sqe74qcl8im850",
                        "beneficiary": "bnf_d35spsnl8imrh3gv0",
                        "beneficiary_details": {
                          "address": {},
                          "date_of_birth": "",
                          "destination": "",
                          "destination_details": {
                            "tazapay_account": {
                              "deposit_address": "ce4f51ue@tzp"
                            },
                            "type": "tazapay_account"
                          },
                          "documents": [],
                          "email": "info@trading.com",
                          "is_doc_verification_required": false,
                          "name": "T Co., Limited",
                          "name_local": "",
                          "national_identification_number": "",
                          "party_classification": "",
                          "phone": {},
                          "registration_number": "",
                          "status": "active",
                          "tax_id": "",
                          "type": "business",
                          "verification_status": "succeeded"
                        },
                        "charge_type": "",
                        "confirmation_documents": [],
                        "created_at": "2025-09-18T09:13:28.633167Z",
                        "currency": "USD",
                        "destination_fx_quote": "fx_d35sqe7figo4dsvt00",
                        "documents": [],
                        "holding_currency": "USD",
                        "holding_fx_quote": "fx_d35sfigo4p2dsvsvg",
                        "holding_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 44000,
                            "currency": "USD"
                          },
                          "id": "fx_d35sqe7figo4p2dsvsvg",
                          "initial": {
                            "amount": 44000,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "id": "pot_d5sqe7cl8imrh4810",
                        "local": {
                          "fund_transfer_network": "ach"
                        },
                        "logistics_tracking_details": [],
                        "metadata": null,
                        "mt103": "",
                        "object": "payout",
                        "on_behalf_of": "",
                        "payout_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 44000,
                            "currency": "USD"
                          },
                          "id": "fx_d35sqe7figo4psvt00",
                          "initial": {
                            "amount": 44000,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "payout_quote": "",
                        "purpose": "PYR003",
                        "quote": "poq_d5sqe7cl8imrh4811",
                        "reference_id": "TZP-ACC-2024-1892",
                        "statement_descriptor": "Trading Payment",
                        "status": "succeeded",
                        "status_description": "",
                        "tracking_details": {
                          "tracking_number": "TZP-001-2024-9876",
                          "tracking_type": "internal"
                        },
                        "transaction_description": "Payment for goods acc 001",
                        "type": "tazapay_account",
                        "available_balance": 150000000,
                        "is_balance_sufficient": true
                      }
                    }
                  },
                  "Swift Bank Payout": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"\",\n    \"data\": {\n        \"amount\": 100000,\n        \"balance_transaction\": \"btr_d35pv4qcl8imrv60\",\n        \"beneficiary\": \"bnf_d3inm6ami8u10oqfg\",\n        \"beneficiary_details\": {\n            \"address\": {\n                \"country\": \"CN\"\n                \"line1\": \"Zhen Rui Yun Lu 66\",\n                \"postal_code\": \"311011\"\n            },\n            \"date_of_birth\": \"\",\n            \"destination\": \"\",\n            \"destination_details\": {\n                \"bank\": {\n                    \"account_number\": \"33050167624000001030\",\n                    \"account_type\": \"\",\n                    \"bank_codes\": {\n                        \"swift_code\": \"PCBCCNBJZJX\"\n                    },\n                    \"bank_name\": \"CHINA CONSTRUCTION BANK, ZHEJIANG BRANCH\",\n                    \"branch_name\": \"\",\n                    \"country\": \"CN\",\n                    \"currency\": \"USD\",\n                    \"firc_required\": false,\n                    \"purpose_code\": \"\",\n                    \"transfer_type\": \"swift\"\n                },\n                \"type\": \"bank\"\n            },\n            \"documents\": [],\n            \"email\": \"\",\n            \"name\": \"IMPORT AND EXPORT CO., LTD\",\n            \"name_local\": \"\",\n            \"national_identification_number\": \"\",\n            \"party_classification\": \"\",\n            \"phone\": {\n                \"calling_code\": \"86\"\n            },\n            \"registration_number\": \"\",\n            \"tax_id\": \"\",\n            \"type\": \"business\"\n        },\n        \"charge_type\": \"ours\",\n        \"confirmation_documents\": [],\n        \"created_at\": \"2025-09-18T10:07:35.101708Z\",\n        \"currency\": \"USD\",\n        \"destination_fx_quote\": \"fx_d35tjpnfi4p2dt2hh0\",\n        \"documents\": [],\n        \"holding_currency\": \"USD\",\n        \"holding_fx_quote\": \"fx_d35tjpnfigp2dt2hgg\",\n        \"holding_fx_transaction\": {\n            \"exchange_rate\": 1,\n            \"final\": {\n                \"amount\": 10000000,\n                \"currency\": \"USD\"\n            },\n            \"id\": \"fx_d35tjpnfigp2dt2hgg\",\n            \"initial\": {\n                \"amount\": 10000000,\n                \"currency\": \"USD\"\n            },\n            \"object\": \"fx_transaction\"\n        },\n        \"id\": \"pot_d35tjpn4qcl8iv30\",\n        \"logistics_tracking_details\": [],\n        \"metadata\": null,\n        \"mt103\": \"\",\n        \"object\": \"payout\",\n        \"on_behalf_of\": \"\",\n        \"payout_fx_transaction\": {\n            \"exchange_rate\": 1,\n            \"final\": {\n                \"amount\": 10000000,\n                \"currency\": \"USD\"\n            },\n            \"id\": \"fx_d35tfigo4p2dt2hh0\",\n            \"initial\": {\n                \"amount\": 10000000,\n                \"currency\": \"USD\"\n            },\n            \"object\": \"fx_transaction\"\n        },\n        \"payout_quote\": \"\",\n        \"purpose\": \"PYR003\",\n        \"reference_id\": \"\",\n        \"statement_descriptor\": \"\",\n        \"status\": \"succeeded\",\n        \"status_description\": \"\",\n        \"tracking_details\": {\n            \"tracking_number\": \"7833d-34b4-478-aac8-1184beae\",\n            \"tracking_type\": \"uetr\"\n        },\n        \"transaction_description\": \"Payment for goods acc 125\",\n        \"type\": \"swift\",\n        \"available_balance\": 120000000,\n        \"is_balance_sufficient\": true\n    }\n}",
                    "summary": "Swift Bank Payout"
                  },
                  "Local Bank Payout": {
                    "summary": "Local Bank Payout",
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 3000000,
                        "balance_transaction": "btr_dhuvflvi5frlneafr0",
                        "beneficiary": "bnf_d0dla9u8dpp4edio0",
                        "beneficiary_details": {
                          "address": null,
                          "date_of_birth": "",
                          "destination": "",
                          "destination_details": {
                            "bank": {
                              "account_type": "",
                              "bank_codes": {
                                "swift_code": "FBDEFF"
                              },
                              "bank_name": "ER VOLKSBANK EG",
                              "branch_name": "",
                              "country": "DE",
                              "currency": "EUR",
                              "firc_required": false,
                              "iban": "DE535019045650474185",
                              "purpose_code": "",
                              "transfer_type": "any"
                            },
                            "type": "bank"
                          },
                          "documents": [],
                          "email": "",
                          "name": "GMBH",
                          "name_local": "",
                          "national_identification_number": "",
                          "party_classification": "",
                          "phone": {
                            "calling_code": "49"
                          },
                          "registration_number": "",
                          "tax_id": "",
                          "type": "business"
                        },
                        "charge_type": "",
                        "confirmation_documents": [],
                        "created_at": "2025-09-16T08:27:41.832790Z",
                        "currency": "EUR",
                        "destination_fx_quote": "fx_d34hc7loipp34fm0",
                        "documents": [],
                        "holding_currency": "USD",
                        "holding_fx_quote": "fx_d34hc7loipp34fmg",
                        "holding_fx_transaction": {
                          "exchange_rate": 0.846438,
                          "final": {
                            "amount": 3000000,
                            "currency": "EUR"
                          },
                          "id": "fx_d34flc7loipp34fmg",
                          "initial": {
                            "amount": 3544266,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "id": "pot_d34hlvi5frlneafo0",
                        "local": {
                          "fund_transfer_network": "sepa"
                        },
                        "logistics_tracking_details": [],
                        "metadata": null,
                        "mt103": "",
                        "object": "payout",
                        "on_behalf_of": "",
                        "payout_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 3000000,
                            "currency": "EUR"
                          },
                          "id": "fx_d34huvflc7pp34fm0",
                          "initial": {
                            "amount": 3000000,
                            "currency": "EUR"
                          },
                          "object": "fx_transaction"
                        },
                        "payout_quote": "",
                        "purpose": "PYR001",
                        "reference_id": "DE-LOG-2024-0909",
                        "statement_descriptor": "Logistics Payment",
                        "status": "succeeded",
                        "status_description": "",
                        "tracking_details": {
                          "tracking_number": "098771252590P9A",
                          "tracking_type": "UTR"
                        },
                        "transaction_description": "Payment for logistic services 9-09",
                        "type": "local",
                        "available_balance": 75000000,
                        "is_balance_sufficient": true
                      }
                    }
                  },
                  "Local Payment Network Payout": {
                    "summary": "Local Payment Network Payout",
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 144,
                        "balance_transaction": "btr_d35v6ddendp1ul1p0",
                        "beneficiary": "bnf_d2pkuchg06m8tvjg",
                        "beneficiary_details": {
                          "address": null,
                          "date_of_birth": "",
                          "destination": "",
                          "destination_details": {
                            "local_payment_network": {
                              "currency": "BRL",
                              "deposit_key": "fep@gmail.com",
                              "type": "pix_brl"
                            },
                            "type": "local_payment_network"
                          },
                          "documents": [],
                          "email": "fep@gmail.com",
                          "name": "Feete Pereira",
                          "name_local": "",
                          "national_identification_number": "",
                          "party_classification": "",
                          "phone": null,
                          "registration_number": "",
                          "tax_id": "3879876743",
                          "type": "individual"
                        },
                        "charge_type": "",
                        "confirmation_documents": [],
                        "created_at": "2025-09-18T11:56:35.627500Z",
                        "currency": "BRL",
                        "destination_fx_quote": "fx_d35v6go4p2dt8ec0",
                        "documents": [],
                        "holding_currency": "USD",
                        "holding_fx_quote": "fx_d35vfigo4p2dt8ecg",
                        "holding_fx_transaction": {
                          "exchange_rate": 5.158393,
                          "final": {
                            "amount": 144,
                            "currency": "BRL"
                          },
                          "id": "fx_d35vfigo4p2dt8ecg",
                          "initial": {
                            "amount": 28,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "id": "pot_d35v6sp8dp1ul1m0",
                        "local": {
                          "fund_transfer_network": "pix"
                        },
                        "logistics_tracking_details": [],
                        "metadata": null,
                        "mt103": "",
                        "object": "payout",
                        "on_behalf_of": "",
                        "payout_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 144,
                            "currency": "BRL"
                          },
                          "id": "fx_d35v6go4p2dt8ec0",
                          "initial": {
                            "amount": 144,
                            "currency": "BRL"
                          },
                          "object": "fx_transaction"
                        },
                        "payout_quote": "",
                        "purpose": "PYR001",
                        "reference_id": "BR-PIX-2024-3879",
                        "statement_descriptor": "Freelancer Payment",
                        "status": "succeeded",
                        "status_description": "",
                        "tracking_details": {
                          "tracking_number": "E1234567820240918115635627",
                          "tracking_type": "pix_id"
                        },
                        "transaction_description": "Freelance design services payment",
                        "type": "local_payment_network",
                        "available_balance": 60000000,
                        "is_balance_sufficient": true
                      }
                    }
                  },
                  "Crypto Payout": {
                    "summary": "Crypto Payout",
                    "value": {
                      "status": "success",
                      "message": "",
                      "data": {
                        "amount": 122225,
                        "balance_transaction": "btr_dag4eup1ekl94qrlg",
                        "beneficiary": "bnf_d35eag4eupl94qrig",
                        "beneficiary_details": {
                          "address": {
                            "city": "Vrtmore",
                            "country": "JM",
                            "line1": "it12 3cwth",
                            "postal_code": "00000",
                            "state": "Vortmore"
                          },
                          "date_of_birth": "2003-04-04",
                          "destination": "",
                          "destination_details": {
                            "type": "wallet",
                            "wallet": {
                              "currency": "USDC",
                              "deposit_address": "09e53bcac0f2edxnjsui87f8bb7a9faf64789ed8",
                              "type": "ethereum"
                            }
                          },
                          "documents": [],
                          "email": "",
                          "name": "Scott",
                          "name_local": "",
                          "national_identification_number": "",
                          "party_classification": "third_party",
                          "phone": {},
                          "registration_number": "",
                          "tax_id": "",
                          "type": "individual"
                        },
                        "charge_type": "",
                        "confirmation_documents": [],
                        "created_at": "2025-09-17T16:43:44.378053Z",
                        "currency": "USD",
                        "destination_fx_quote": "fx_d35igo4p2drbeu0",
                        "documents": [],
                        "holding_currency": "USD",
                        "holding_fx_quote": "fx_d35eag74p2drbeug",
                        "holding_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 122225,
                            "currency": "USD"
                          },
                          "id": "fx_d35eag74p2drbeug",
                          "initial": {
                            "amount": 122225,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "id": "pot_d35eag4ekl94qri0",
                        "local": {
                          "fund_transfer_network": "ethereum"
                        },
                        "logistics_tracking_details": [],
                        "metadata": null,
                        "mt103": "",
                        "object": "payout",
                        "on_behalf_of": "",
                        "payout_fx_transaction": {
                          "exchange_rate": 1,
                          "final": {
                            "amount": 122225,
                            "currency": "USDC"
                          },
                          "id": "fx_d35igo4p2drbeu0",
                          "initial": {
                            "amount": 122225,
                            "currency": "USD"
                          },
                          "object": "fx_transaction"
                        },
                        "payout_quote": "",
                        "purpose": "PYR030",
                        "reference_id": "",
                        "statement_descriptor": "",
                        "status": "succeeded",
                        "status_description": "",
                        "tracking_details": {
                          "tracking_number": "0xadef30173d3dd42333779a683c1404e50567e03fb4daef4f850f415789f559f",
                          "tracking_type": "transaction_hash"
                        },
                        "transaction_description": "commision",
                        "type": "wallet",
                        "available_balance": 85000000,
                        "is_balance_sufficient": true
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success",
                      "description": "Status of API request"
                    },
                    "message": {
                      "type": "string",
                      "example": "",
                      "description": "Message returned as part of the API response"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "integer",
                          "example": 100000,
                          "default": 0,
                          "description": "Amount of the payout"
                        },
                        "balance_transaction": {
                          "type": "string",
                          "example": "btr_cvqcf7ni8n67eejtnklg",
                          "description": "Balance transaction id associated with this payout"
                        },
                        "beneficiary": {
                          "type": "string",
                          "example": "bnf_cta4erf3l65o6mqvace0",
                          "description": "Beneficiary identifier"
                        },
                        "beneficiary_details": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "object",
                              "description": "Address details of the beneficiary",
                              "properties": {
                                "line1": {
                                  "type": "string",
                                  "example": "Zhen Rui Yun Lu 66",
                                  "description": "Street address line 1"
                                },
                                "line2": {
                                  "type": "string",
                                  "example": "",
                                  "description": "Street address line 2"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Vrtmore",
                                  "description": "City of the address"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "Vortmore",
                                  "description": "State or province of the address"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "311011",
                                  "description": "Postal or ZIP code"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "CN",
                                  "description": "Country in ISO alpha-2 format"
                                }
                              }
                            },
                            "date_of_birth": {
                              "type": "string",
                              "example": "2003-04-04",
                              "description": "Date of birth of the beneficiary (for individuals)"
                            },
                            "destination": {
                              "type": "string",
                              "example": "",
                              "description": "Destination identifier (if applicable)"
                            },
                            "destination_details": {
                              "type": "object",
                              "description": "Destination details depending on payout type",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Type of payout destination",
                                  "enum": [
                                    "bank",
                                    "wallet",
                                    "local_payment_network",
                                    "tazapay_account"
                                  ]
                                },
                                "bank": {
                                  "type": "object",
                                  "properties": {
                                    "account_number": {
                                      "type": "string",
                                      "example": "33050167624000001030",
                                      "description": "Bank account number"
                                    },
                                    "account_type": {
                                      "type": "string",
                                      "example": "",
                                      "description": "Type of bank account"
                                    },
                                    "bank_codes": {
                                      "type": "object",
                                      "properties": {
                                        "aba_code": {
                                          "type": "string",
                                          "example": "AIOHFAONF",
                                          "description": "ABA code for US banks"
                                        },
                                        "swift_code": {
                                          "type": "string",
                                          "example": "PCBCCNBJZJX",
                                          "description": "SWIFT code for bank transfers"
                                        }
                                      }
                                    },
                                    "bank_name": {
                                      "type": "string",
                                      "example": "CHINA CONSTRUCTION BANK, ZHEJIANG BRANCH",
                                      "description": "Name of the bank"
                                    },
                                    "branch_name": {
                                      "type": "string",
                                      "example": "",
                                      "description": "Name of the bank branch"
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "CN",
                                      "description": "Country of the bank"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "example": "USD",
                                      "description": "Currency supported by the bank account"
                                    },
                                    "firc_required": {
                                      "type": "boolean",
                                      "example": false,
                                      "description": "Whether FIRC (Foreign Inward Remittance Certificate) is required"
                                    },
                                    "purpose_code": {
                                      "type": "string",
                                      "example": "",
                                      "description": "Purpose code for bank transfers"
                                    },
                                    "transfer_type": {
                                      "type": "string",
                                      "example": "swift",
                                      "description": "Transfer type (swift, local, any)"
                                    },
                                    "iban": {
                                      "type": "string",
                                      "example": "DE535019045650474185",
                                      "description": "IBAN number for European transfers"
                                    }
                                  }
                                },
                                "local_payment_network": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string",
                                      "example": "BRL",
                                      "description": "Currency of the local payment network"
                                    },
                                    "deposit_key": {
                                      "type": "string",
                                      "example": "fep@gmail.com",
                                      "description": "Deposit key or identifier in local payment network"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Local payment network type",
                                      "enum": [
                                        "pix_brl"
                                      ]
                                    }
                                  }
                                },
                                "tazapay_account": {
                                  "type": "object",
                                  "properties": {
                                    "deposit_address": {
                                      "type": "string",
                                      "example": "ce4f51ue@tzp",
                                      "description": "Deposit address of the Tazapay account"
                                    }
                                  }
                                },
                                "wallet": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string",
                                      "example": "USDC",
                                      "description": "Cryptocurrency type"
                                    },
                                    "deposit_address": {
                                      "type": "string",
                                      "example": "0xadef30173d3dd42333779a683c1404e50567e03fb4daef4f850f415789f559f",
                                      "description": "Wallet deposit address"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "Blockchain type",
                                      "enum": [
                                        "ethereum"
                                      ]
                                    }
                                  }
                                }
                              }
                            },
                            "documents": {
                              "type": "array",
                              "example": [],
                              "description": "Supporting documents for beneficiary verification"
                            },
                            "email": {
                              "type": "string",
                              "example": "info@trading.com",
                              "description": "Email address of the beneficiary"
                            },
                            "name": {
                              "type": "string",
                              "example": "IMPORT AND EXPORT CO., LTD",
                              "description": "Name of the beneficiary"
                            },
                            "name_local": {
                              "type": "string",
                              "example": "",
                              "description": "Local language name of the beneficiary"
                            },
                            "national_identification_number": {
                              "type": "string",
                              "example": "",
                              "description": "National ID number of the beneficiary"
                            },
                            "party_classification": {
                              "type": "string",
                              "example": "third_party",
                              "description": "Classification of party (self, third_party, etc.)"
                            },
                            "phone": {
                              "type": "object",
                              "description": "Phone details of the beneficiary",
                              "properties": {
                                "calling_code": {
                                  "type": "string",
                                  "example": "86",
                                  "description": "Country calling code of the phone"
                                }
                              }
                            },
                            "registration_number": {
                              "type": "string",
                              "example": "",
                              "description": "Registration number (for businesses)"
                            },
                            "tax_id": {
                              "type": "string",
                              "example": "3879876743",
                              "description": "Tax identification number of the beneficiary"
                            },
                            "type": {
                              "type": "string",
                              "description": "Beneficiary type",
                              "enum": [
                                "business",
                                "individual"
                              ],
                              "example": "business"
                            },
                            "status": {
                              "type": "string",
                              "description": "The status of the beneficiary"
                            },
                            "verification_status": {
                              "type": "string",
                              "description": "The verification status of the beneficiary"
                            },
                            "is_doc_verification_required": {
                              "type": "boolean",
                              "description": "Signifies if doc verification is required"
                            }
                          }
                        },
                        "charge_type": {
                          "type": "string",
                          "description": "Charge type of payout",
                          "enum": [
                            "ours",
                            "shared"
                          ],
                          "example": "ours"
                        },
                        "confirmation_documents": {
                          "type": "array",
                          "example": [],
                          "description": "List of documents confirming payout"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2025-09-18T10:07:35.101708Z",
                          "description": "Timestamp when payout was created"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USD",
                          "description": "Currency of the payout"
                        },
                        "destination_fx_quote": {
                          "type": "string",
                          "example": "fx_d35tjpnfi4p2dt2hh0",
                          "description": "Destination FX quote ID"
                        },
                        "documents": {
                          "type": "array",
                          "example": [],
                          "description": "Documents associated with payout"
                        },
                        "holding_currency": {
                          "type": "string",
                          "example": "USD",
                          "description": "Currency held for payout"
                        },
                        "holding_fx_quote": {
                          "type": "string",
                          "example": "fx_d35tjpnfigp2dt2hgg",
                          "description": "Holding FX quote ID"
                        },
                        "holding_fx_transaction": {
                          "type": "object",
                          "description": "FX transaction details for holding currency",
                          "properties": {
                            "exchange_rate": {
                              "type": "number",
                              "example": 0.846438,
                              "description": "Exchange rate applied"
                            },
                            "final": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "integer",
                                  "example": 3000000,
                                  "description": "Final payout amount after FX"
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "EUR",
                                  "description": "Currency of final amount"
                                }
                              }
                            },
                            "id": {
                              "type": "string",
                              "example": "fx_d34flc7loipp34fmg",
                              "description": "FX transaction ID"
                            },
                            "initial": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "integer",
                                  "example": 3544266,
                                  "description": "Initial payout amount before FX"
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "USD",
                                  "description": "Currency of initial amount"
                                }
                              }
                            },
                            "object": {
                              "type": "string",
                              "example": "fx_transaction",
                              "description": "Object type"
                            }
                          }
                        },
                        "id": {
                          "type": "string",
                          "example": "pot_d35tjpn4qcl8iv30",
                          "description": "Unique payout identifier"
                        },
                        "local": {
                          "type": "object",
                          "properties": {
                            "fund_transfer_network": {
                              "type": "string",
                              "example": "",
                              "description": "Local fund transfer network used"
                            }
                          }
                        },
                        "logistics_tracking_details": {
                          "type": "array",
                          "example": [],
                          "description": "Logistics tracking details if payout is linked with goods"
                        },
                        "metadata": {
                          "type": "object",
                          "example": {},
                          "description": "Metadata associated with the payout"
                        },
                        "mt103": {
                          "type": "string",
                          "example": "{1:F01BANKUS33AXXX0000000000}",
                          "description": "SWIFT MT103 details if available"
                        },
                        "object": {
                          "type": "string",
                          "example": "payout",
                          "description": "Type of object (payout)"
                        },
                        "on_behalf_of": {
                          "type": "string",
                          "example": "",
                          "description": "On behalf of account ID if payout made for another entity"
                        },
                        "payout_fx_transaction": {
                          "type": "object",
                          "description": "FX transaction details for payout currency",
                          "properties": {
                            "exchange_rate": {
                              "type": "number",
                              "example": 1,
                              "description": "Exchange rate applied"
                            },
                            "final": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "integer",
                                  "example": 144,
                                  "description": "Final amount after FX"
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "BRL",
                                  "description": "Currency of final amount"
                                }
                              }
                            },
                            "id": {
                              "type": "string",
                              "example": "fx_d35v6go4p2dt8ec0",
                              "description": "FX transaction ID"
                            },
                            "initial": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "integer",
                                  "example": 144,
                                  "description": "Initial amount before FX"
                                },
                                "currency": {
                                  "type": "string",
                                  "example": "BRL",
                                  "description": "Currency of initial amount"
                                }
                              }
                            },
                            "object": {
                              "type": "string",
                              "example": "fx_transaction",
                              "description": "Object type"
                            }
                          }
                        },
                        "payout_quote": {
                          "type": "string",
                          "example": "",
                          "description": "Payout quote reference"
                        },
                        "purpose": {
                          "type": "string",
                          "example": "PYR001",
                          "description": "Purpose code for the payout"
                        },
                        "reference_id": {
                          "type": "string",
                          "example": "",
                          "description": "Reference identifier for payout"
                        },
                        "statement_descriptor": {
                          "type": "string",
                          "example": "",
                          "description": "Statement descriptor for payout"
                        },
                        "status": {
                          "type": "string",
                          "example": "succeeded",
                          "description": "Status of payout"
                        },
                        "status_description": {
                          "type": "string",
                          "example": "",
                          "description": "Description of payout status"
                        },
                        "tracking_details": {
                          "type": "object",
                          "description": "Tracking details of payout",
                          "properties": {
                            "tracking_number": {
                              "type": "string",
                              "example": "7833d-34b4-478-aac8-1184beae",
                              "description": "Tracking number (UETR, UTR, transaction hash, etc.)"
                            },
                            "tracking_type": {
                              "type": "string",
                              "description": "Tracking type used for payout",
                              "enum": [
                                "uetr",
                                "utr",
                                "transaction_hash"
                              ],
                              "example": "uetr"
                            }
                          }
                        },
                        "transaction_description": {
                          "type": "string",
                          "example": "Payment for goods acc 125",
                          "description": "Description of the transaction"
                        },
                        "type": {
                          "type": "string",
                          "description": "Type of payout",
                          "enum": [
                            "swift",
                            "local",
                            "wallet",
                            "local_payment_network",
                            "tazapay_account"
                          ],
                          "example": "swift"
                        },
                        "quote": {
                          "type": "string",
                          "example": "poq_d3inm6ami8u10oqfk",
                          "description": "Quote ID from the payout quote API used to lock exchange rates"
                        },
                        "available_balance": {
                          "type": "integer",
                          "example": 50000000,
                          "description": "Available balance in the account for processing payouts"
                        },
                        "is_balance_sufficient": {
                          "type": "boolean",
                          "example": true,
                          "description": "Indicates whether the account has sufficient balance to process this payout"
                        },
                        "reversal_balance_transaction": {
                          "type": "string",
                          "description": "Id of the reverse balance transaction object linked to this payout. Only present when status is 'reversed'"
                        },
                        "reversal_payout_fx_transaction": {
                          "type": "object",
                          "description": "Reversal FX transaction details for payout currency. Only present when status is 'reversed'",
                          "properties": {
                            "exchange_rate": {
                              "type": "number",
                              "description": "Exchange rate for payout FX"
                            },
                            "final": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "description": "Final amount"
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "Final currency"
                                }
                              }
                            },
                            "id": {
                              "type": "string",
                              "description": "FX transaction ID"
                            },
                            "initial": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "description": "Initial amount"
                                },
                                "currency": {
                                  "type": "string",
                                  "description": "Initial currency"
                                }
                              }
                            },
                            "object": {
                              "type": "string",
                              "description": "Object type (fx_transaction)"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "error",
                      "message": "Resource not found",
                      "errors": [
                        {
                          "code": 105,
                          "message": "The resource you are trying to retrieve is not present. This error code happens when trying to Get or Read a data point (eg: transaction, user, KYB, etc) that does not exist.",
                          "remarks": ""
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "description": "The error code."
                    },
                    "message": {
                      "type": "string",
                      "description": "The Error message"
                    },
                    "remarks": {
                      "type": "string"
                    }
[...]
